Flask==2.3.2

WTForms==3.0.1

bcrypt==3.2.0

Flask-Bcrypt==1.0.1

Flask-Login==0.6.2

flask_wtf==1.1.1

email-validator==2.0.0.post2

flask_sqlalchemy==3.1.1

Werkzeug==3.0.6

python-decouple

mysql-connector-python

azure-identity

azure.keyvault

azure-mgmt-keyvault

flask-cors

python-gitlab

packaging-23.2

pyhcl

boto3
dnspython>=2.6.1 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.4 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
